body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #434455;
}

/*------------- header -------------*/

.headerly {}

.headerly-nav {}

.headerly-logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo {
    color: #2E2F42;
}

.headerly-list {
    list-style: none;
}

.headerly-item {}

.headerly-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.headerly-link:hover,
.headerly-link:focus,
.address-mailto:hover,
.address-mailto:focus,
.address-tel:hover,
.address-tel:focus {
    color: #404BBF;
}

.headerly-address {}

.addres-list {
    list-style: none;
}

.address-item {}

.address-mailto,
.address-tel {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: #434455;
}

/*------------ main -----------*/

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/*----------- hero -----------*/

.hero {
    background: #2E2F42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.hero-btn {
    cursor: pointer;
    background: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #404BBF;
    color: #FFFFFF;
}

/*-------- about ---------*/

.about {}

.about-list {
    list-style: none;
}

.about-item {}

.about-title {}

.about-text {}

/*------- work --------*/

.work {}

.work-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.work-list {
    list-style: none;
}

.work-item {}

/*------- Team-------*/

.team {}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {
    list-style: none;
}

.team-item {}

.team-name {}

.team-text {}

/* footer */

.footerly {
    background: #2E2F42;
}

.footerly-text {
    color: #E7E9FC;
}

.footerly-logo {
    color: #F4F4FD;
}

/* Portfolio */

.portfolio {}

.filters-list {
    list-style: none
}

.filters-btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
}

.filters-btn:hover,
.filters-btn:focus {
    color: #FFFFFF;
    background: #404BBF;
}

.filters-item {}

.project-list {
    list-style: none;
}

.project-item {}

.project-title {}

.project-text {}